@import "field.less";
@import "button.less";

:root {
    --color-primary: #4db6ff;
    --color-primary2: #4295d0;
    --color-background: #224567;
    --color-background2: #24272e;
    --color-text: #ffffff;
    --color-text2: #747a89;
    --color-shade: #1c2025;
    --color-shade2: #2c333f;
    --mask-background: rgba(0, 0, 0, 0.5);
    --gap-xlarge: 52px;
    --gap-large: 32px;
    --gap-medium: 24px;
    --gap-small: 16px;
    --gap-tiny: 10px;
    --gap-xtiny: 6px;
    --radius-normal: 12px;
    --nav-height: 76px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: 500;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: "Inter", sans-serif;

    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
    margin-bottom: var(--gap-small);
    font-weight: 800;
}

p {
    color: var(--color-text2);
    margin-bottom: var(--gap-small);
}

a {
    &.blank {
        color: none;
    }

    &:visited {
        color: inherit;
    }
}
