@import "field.less";
@import "button.less";

:root {
    --color-primary: white;
    --color-primary2: #dedede;
    --color-background: #224567;
    --color-background2: #24272e;
    --color-text: #ffffff;
    --color-text2: #b0b2b6;
    --color-text3: #747a89;
    --color-shade: #3c3f43;
    --color-shade2: #2c333f;
    --color-red: #ff3636;
    --mask-background: rgba(0, 0, 0, 0.5);
    --gap-xlarge: 44px;
    --gap-large: 32px;
    --gap-medium: 24px;
    --gap-small: 16px;
    --gap-tiny: 10px;
    --gap-xtiny: 6px;
    --radius-normal: 20px;
    --radius-small: 12px;
    --radius-tiny: 8px;
    --nav-height: 76px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: 500;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: "Inter", sans-serif;

    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
    letter-spacing: -0.5px;
}

h1,
h2,
h3 {
    margin-bottom: var(--gap-small);
    font-weight: 700;
}

p {
    // color: var(--color-text2);
    margin-bottom: var(--gap-small);
}

a {
    color: var(--color-text);

    &.blank {
        color: none;
    }

    &:visited {
        color: inherit;
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
    margin: 6px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--color-text2);
}
