input,
textarea,
.radio-container,
select {
    caret-color: var(--color-primary);
    font-family: inherit;
    padding: var(--gap-tiny);
    color: var(--color-text);
    background-color: var(--color-shade);
    font-size: inherit;
    border: none;
    border-radius: var(--radius-small);
    outline-color: var(--color-primary);
    border: solid 1px var(--color-shade2);
    font-weight: 500;
    width: 100%;
    outline: none;
    line-height: inherit;
    resize: vertical;

    &:focus {
        border-color: var(--color-primary);
    }

    &::placeholder {
        color: var(--color-text2);
    }
}
